@import "@/style/style.scss";

.article-card-pc {
  @include hoverable();
  margin: $space-xl 0;
  width: 100%;
  .article {
    width: 100%;
    display: flex;
    .left {
      flex: 1;
      min-width: 0;
      display: flex;
      flex-direction: column;
      margin: $space-m 0;
      max-width: 780px;
      .fileName {
        @include three-point-reader;
        margin: 0;
      }
      .summary {
        margin-top: $space-xl;
      }
      .createdAt {
        margin: auto 0 0 auto;
        font-size: $font-size-s;
      }
    }

    .right {
      width: 240px;
      margin: 0 0 0 $space-xl;
      img {
        max-width: 240px;
      }
    }
  }
}

.article-card-sp {
  @include hoverable();
  padding: $space-l $space-m $space-l 0;
  width: 100%;
  max-width: 400px;
  .article {
    display: flex;
    align-items: stretch;
    width: 100%;
    .left {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      margin-right: $space-m;
      width: 80%;
      .fileName {
        width: 100%;
        @include two-lines-three-point-reader;
        font-size: $font-size-xl;
        margin-bottom: auto;
      }
      .createdAt {
        display: block;
        margin: $space-s 0 0 auto;
        font-size: $font-size-s;
      }
    }

    img {
      width: 30%;
      object-fit: cover;
    }
  }
}
