@import "@/style/style.scss";

@media screen and (max-width: 768px) {
  .article-card-sp {
    display: block;
  }
  .article-card-pc {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .article-card-sp {
    display: none;
  }
  .article-card-pc {
    display: block;
  }
}

.article-card-pc {
  @include hoverable();
  margin: $space-xl 0;
  width: 100%;
  .article {
    width: 100%;
    display: flex;
    .left {
      flex: 1;
      min-width: 0;
      margin: $space-l 0;
      max-width: 780px;
      display: flex;
      flex-direction: column;
      .fileName {
        @include three-point-reader;
        margin: 0;
      }
      .createdAt {
        margin: $space-s 0 0 auto;
        font-size: $font-size-s;
      }
      .summary {
        margin-top: $space-xl;
      }
    }

    .right {
      width: 240px;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        margin: 0 0 0 $space-xl;
        max-width: 240px;
      }
    }
  }
}

.article-card-sp {
  @include hoverable();
  padding: $space-xl $space-l $space-xl 0;
  width: 100%;
  max-width: 400px;
  .article {
    display: flex;
    flex-direction: column;
    align-items: center;
    .fileName {
      width: 100%;
      @include three-point-reader;
      margin: 0;
    }
    .createdAt {
      margin: $space-s 0 0 auto;
      font-size: $font-size-s;
    }
    .summary {
      margin-top: $space-xl;
    }

    img {
      margin: $space-l 0 0 $space-xl;
      width: 100%;
      max-height: 200px;
      object-fit: cover;
    }
  }
}
