<div class="pc">
  <div class="article-card-pc">
    <a href="/article/{fileName}" class="article">
      <div class="left">
        <h2 class="fileName">{fileName}</h2>
        <span class="summary">{summary}</span>
        <span class="createdAt">{createdAt}</span>
      </div>
      <div class="right">
        <img src="{eyecatch}" alt="eyecatch" />
      </div>
    </a>
  </div>
</div>

<div class="sp">
  <div class="article-card-sp">
    <a href="/article/{fileName}" class="article">
      <div class="left">
        <h2 class="fileName">{fileName}</h2>
        <span class="createdAt">{createdAt}</span>
      </div>
      <img src="{eyecatch}" alt="eyecatch" />
    </a>
  </div>
</div>
