@import "@/style/style.scss";

.article-wrapper {
  width: 100%;
  margin-top: $space-xl;
  .article {
    margin: 0 auto 40px;
    padding: 0 $space-l;
    color: #444444;
    line-height: 1;
    width: 100%;
    min-width: 0;
    max-width: 960px;
    h1,
    h2,
    h3,
    h4,
    h5 {
      display: flex;
      color: #111111;
      font-weight: 500;
      line-height: 150%;
      margin: $space-m 0;
      padding: 0;
    }
    p {
      display: flex;
      color: #111111;
      font-weight: 400;
      line-height: 150%;
      margin-bottom: $space-m;
      padding: 0;
      width: 100%;
    }
    h1 {
      font-size: 32px;
    }
    h2 {
      font-size: 24px;
    }
    h3 {
      font-size: 18px;
    }
    h4 {
      font-size: 16px;
    }
    h5 {
      font-size: 14px;
    }
    a {
      color: #0099ff;
      margin: 0;
      padding: 0;
      vertical-align: baseline;
    }
    ul,
    ol {
      padding: 0;
      margin: 0;
    }

    li {
      margin: $space-m 0 $space-m $space-l;
      line-height: 24px;
    }
    li ul,
    li ul {
      margin-left: 24px;
    }
    p,
    ul,
    ol {
      font-size: 16px;
      line-height: 24px;
    }
    pre {
      background-color: #555555;
      border-radius: 4px;
      color: white;
      padding: 8px;
      max-width: 800px;
      white-space: pre-wrap;
    }
    code {
      background-color: #555555;
      border-radius: 4px;
      color: white;
      margin: 0 8px;
      padding: 4px 8px;
      font-family: Consolas, Monaco, Andale Mono, monospace;
      line-height: 1.5;
      font-size: 13px;
    }
    aside {
      display: block;
      float: right;
      width: 390px;
    }
    blockquote {
      margin: 1em 2em;
      max-width: 476px;
    }
    blockquote p {
      color: #666;
      max-width: 460px;
    }
    hr {
      width: 540px;
      text-align: left;
      margin: 0 auto 0 0;
      color: #999;
    }
    table {
      border-collapse: collapse;
      margin: 1em 1em;
      border: 1px solid #ccc;
    }
    table thead {
      background-color: #eee;
    }
    table thead td {
      color: #666;
    }
    table thead tr th {
      padding: $space-m;
    }
    table td {
      padding: 0.5em 1em;
      border: 1px solid #ccc;
    }
    img {
      max-width: 100%;
    }
  }
}
