$space-s: 4px;
$space-m: 8px;
$space-l: 16px;
$space-xl: 24px;

$font-size-s: 12px;
$font-size-m: 14px;
$font-size-l: 16px;

* {
  font-family: "Noto Sans JP", sans-serif;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

span,
p {
  font-size: $font-size-m;
}

a {
  color: inherit;
  text-decoration: none;
}

@mixin hoverable() {
  &:hover {
    opacity: 0.8;
    cursor: pointer;
  }
}

@mixin three-point-reader() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
