@import "@/style/style.scss";

.header {
  width: 100%;

  background-color: $color-black;
  color: #ffffff;
  .pc {
    .pc-inner {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: $space-l 0;
      a {
        margin: 0 $space-l;
      }
    }
  }

  .sp {
    .sp-inner {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin: 0 auto;
      padding: $space-l 0;
      .hamburger-menu {
        .menu-btn {
          position: absolute;
          display: flex;
          justify-content: center;
          align-items: center;
          top: 18px;
          right: 18px;
          height: 16px;
          width: 16px;
          z-index: 90;

          span,
          span:before,
          span:after {
            content: "";
            display: block;
            height: 3px;
            width: 25px;
            border-radius: 3px;
            background-color: #ffffff;
            position: absolute;
          }

          span {
            &:before {
              bottom: 8px;
            }
            &:after {
              top: 8px;
            }
          }
        }

        #menu-btn-check {
          display: none;
          &:checked ~ .menu-btn span {
            background-color: $color-black;
          }
          &:checked ~ .menu-btn span::before {
            bottom: 0;
            transform: rotate(45deg);
          }
          &:checked ~ .menu-btn span::after {
            top: 0;
            transform: rotate(-45deg);
          }
          &:checked ~ .menu-content {
            left: 0;
          }
        }

        .menu-content {
          width: 100%;
          height: 100%;
          position: fixed;
          top: 0;
          left: 100%;
          z-index: 80;
          background-color: $color-black;
          transition: all 0.5s;
          ul {
            padding: 70px $space-l 0;
            li {
              border-bottom: solid 1px #ffffff;
              list-style: none;
              height: 64px;
              display: flex;
              align-items: center;
              a {
                display: block;
                width: 100%;
                box-sizing: border-box;
                color: #ffffff;
                text-decoration: none;
                padding: 9px 15px 10px 0;
                position: relative;
                &::before {
                  content: "";
                  width: 7px;
                  height: 7px;
                  border-top: solid 2px #ffffff;
                  border-right: solid 2px #ffffff;
                  transform: rotate(45deg);
                  position: absolute;
                  right: 11px;
                  top: 16px;
                }
              }
            }
          }
        }
      }
    }
  }
}
