<header class="header">
  <div class="pc">
    <div class="pc-inner">
      <a href="/">baseballyama's blog</a>
      <a href="/article/SelfIntroduction">Who I am</a>
      <a
        href="https://github.com/baseballyama/baseballyama-scratch-blog/issues"
        target="_blank"
        rel="noopener noreferrer"
        >Issueはこちらへ</a
      >
    </div>
  </div>
  <div class="sp">
    <div class="sp-inner">
      <a href="/">baseballyama's blog</a>
      <div class="hamburger-menu">
        <input type="checkbox" id="menu-btn-check" />
        <label for="menu-btn-check" class="menu-btn"><span></span></label>
        <div class="menu-content">
          <ul>
            <li>
              <a href="/article/SelfIntroduction">Who I am</a>
            </li>
            <li>
              <a
                href="https://github.com/baseballyama/baseballyama-scratch-blog/issues"
                target="_blank"
                rel="noopener noreferrer"
                >Issueはこちらへ</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
